@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 30px;
    color: #333;
}

.container .content h3 span {
    background: #4caf50;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1 {
    font-size: 50px;
    color: #333;
}

.container .content h1 span {
    color: #4caf50;
}

.container .content p {
    font-size: 25px;
    margin: 20px;
}

.container .content .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover{
    background: #4caf50;
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.form-container form {
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #E6E6FA;
    text-align: center;
    width: 500px; 
}

.form-container form h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #fff;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #4caf50;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: #E6E6FA;
    color: #4caf50;
}

.form-container form p {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}

.form-container form p a{
    color: #4caf50;
}

.form-container form .error_msg {
    margin: 10px 0;
    display: block;
    background: #4caf50;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}